<div align="center">
    <app-add-quote (addSymbol)="addSymbol($event)"></app-add-quote>
    <table class="mdl-data-table">
        <thead>
            <tr>
                <th class="mdl-data-column" align="left">Stock</th>
                <th class="mdl-data-column" align="right">Price</th>
                <th class="mdl-data-column" align="right">Open</th>
                <th class="mdl-data-column" align="right">High</th>
                <th class="mdl-data-column" align="right">Low</th>
                <th class="mdl-data-column" align="right">Volumn</th>
                <th class="mdl-data-column" align="right">Change</th>
                <th class="mdl-data-column" align="right"></th>
            </tr>
        </thead>
    </table>

    <!-- |*ngFor="let quote of quoteList"| queries quotes locally in |watchlist.component.ts|.
     It passes each quote 1by1 by |[quote]="quote"| to |quote| in |quote-item.components.ts| 
     where it should use |@input| to accept |quote|.
     Then in |quote-item.component.html| it can use quote. -->
    <!-- |(deleteQuoteItem)| is output from sub component |app-quote-item|.
     It is caught by |deleteQuote($event)|
     and handled by function |deleteQuote| in ts file.-->
    <app-quote-item *ngFor="let quote of quoteList" 
                    [quote]="quote"
                    (deleteQuoteItem)="deleteQuote($event)">
    </app-quote-item>
</div>